{% extends "base.html" %}

{% block content %}
    <div class="pure-g-r content-ribbon">
        <div class="pure-u-1">
            <h1>Fale conosco</h1>
            <p>Você pode entrar em contato conosco tanto por e-mail como pelas redes sociais, abaixo seguem os links para contato:</p>
            <h4>Links</h4>
            <ul>
                <li>E-mail: <a href="mailto:emilio.silvaat@gmail.com">emilio.silvaat@gmail.com</a></li>
                <li>Linkedin: <a href="https://www.linkedin.com/in/emilio-silva-445b18a/">Emilio Silva</a></li>
            </ul>
        </div>
    </div>
{% endblock %}